.container{
height: 400px;
background-color:  #181818;
background-image: url('/circulo-28.png');
background-size: 50%;
color: #fff;

    .logo{
        width: 20%;
        filter: brightness(500%);
    }
}

.Nav{
    color: #fff;
}

.blog{
    background-color: #fff;

}