.newsletterContainer{
    background-color: #0053f1;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: stretch;
    color: #fff;
    padding: 10%;
    .text{
        width: 50%;
        .input{
            background-color: #0053f1;
            color: #fff;
            border:1px solid #fff;
        }
        .button{
            background-color: #fff;
            color: #0053f1;
            padding: 10%;
            border-radius: 1px;
        }
    }
    .imagen{
        width: 50%;
    }
}



.bottomContainer{
    background-color: #181818;
    background-image: url('/contacto-fondo-01-01.png');
    background-size: cover;
    height: 400px;
    color: #fff;
    .Button{
        padding: 30%;
    }
}