.container{
    background-color: #181818;
    width: 100%;
    height: 400px;
    color: #fff;
    h5{
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
    }
}

.icons {
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    font-size: large;
}
hr{
    color: #fff;
}
.bottomContainer{
color: #fff;
display: flex;
justify-content: space-between;
}
.imagu{
    filter: invert(100%);
    width: 5%
}
.smallLogo{
    filter: invert(100%);
}