.cardContainer{
    width: 100%;
    .subtitle{
        color: #838383;
        font-size: 1.2rem;
        margin-top: 5%;
    }
    .title{
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 10%;
    }

}